# Eclat

## Importing the libraries

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [19]:
df = pd.read_csv("Market_Basket_Optimisation.csv", header=None)
transactions = [list(row) for row in df.values.astype(str)]

## Training the Apriori model on the dataset

In [20]:
from apyori import apriori

# min_support = (3 * 7) / 7501
rules = apriori(transactions, min_support=0.0028, min_confidence=0.2, min_lift=3, min_length=2, max_length=2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [21]:
result = list(rules)

### Putting the results well organised into a Pandas DataFrame

In [22]:
result_in_data_frame = pd.DataFrame(({
    "Product 1": tuple(record[2][0][0])[0],
    "Product 2": tuple(record[2][0][1])[0],
    "Support": record[1],
} for record in result))

### Displaying the results sorted by descending supports

In [23]:
result_in_data_frame.sort_values("Support", ascending=False)

              Product 1    Product 2   Support
4         herb & pepper  ground beef  0.015998
7     whole wheat pasta    olive oil  0.007999
2                 pasta     escalope  0.005866
1  mushroom cream sauce     escalope  0.005733
5          tomato sauce  ground beef  0.005333
8                 pasta       shrimp  0.005066
0           light cream      chicken  0.004533
3         fromage blanc        honey  0.003333
6           light cream    olive oil  0.003200