### Sorted, min and max

In this video we are only going to look at numbers and strings, using the natural ordering that exists for those two types.

We'll come back to `sorted`, `min` and `max` again later.

Let's start with an iterable of numbers - it could be a tuple, a list, or even a set:

In [1]:
l = [1, 10, 2, 9, 3, 8]
t = (1, 10, 2, 9, 3, 8)

In [2]:
sorted(l)

[1, 2, 3, 8, 9, 10]

In [3]:
sorted(t)

[1, 2, 3, 8, 9, 10]

You'll notice that in each case we get a `list` back.

Note also that this is not an in-place sort - in the sense that the original iterable was not modified in any way:

In [4]:
l

[1, 10, 2, 9, 3, 8]

In [5]:
t

(1, 10, 2, 9, 3, 8)

The default sort order is ascending (from smallest to largest), but we can change this to descending by specifying a key-word-only argument:

In [6]:
sorted(l, reverse=True)

[10, 9, 8, 3, 2, 1]

Strings also have a natural ordering, based on the character code of each character in the string. But this means string sorts are case sensitive:

In [7]:
sorted(('a', 'z', 'b', 'y', 'c', 'x'))

['a', 'b', 'c', 'x', 'y', 'z']

But this may seem odd:

In [8]:
sorted({'a', 'A', 'b', 'B', 'x', 'X'})

['A', 'B', 'X', 'a', 'b', 'x']

This is because the character code for `A` is smaller than the character code for `a`:

In [9]:
'A' < 'a'

True

and in fact:

In [10]:
'Z' < 'a'

True

So,

In [11]:
sorted(['atom', 'apple', 'Zebra'])

['Zebra', 'apple', 'atom']

We'll come back to sorting later and see how we can change this default behavior.

The `min` and `max` functions are very much related to sorting.

To find the smallest element in a list of numbers we could do this:

In [12]:
l = [1, 10, 2, 9, 3, 8]

In [13]:
sorted_ascending = sorted(l)

In [14]:
smallest_element = sorted_ascending[0]

In [15]:
smallest_element

1

Instead of doing this, we can use `min`:

In [16]:
min(l)

1

If we pas an empty iterable to the `min` or `max` functions, we will get an exception - it is not possible to find the smallest element of an empty collection after all!

In [17]:
try:
    min([])
except ValueError as ex:
    print('ValueError:', ex)

ValueError: min() iterable argument is empty

If we want, we can specify a `default` value, a keyword-only argument to use as the min/max if the iterable is empty:

In [18]:
min([], default=0)

0

The `min` function takes a single iterable as a positional argument, but it can also handle *multiple* positional arguments instead:

In [19]:
min(1, 10, 2, 9, 3, 8)

1

Of course, using this variant means that using a `default` makes no sense:

In [20]:
min(1, 10, default=0)

TypeError: Cannot specify a default for min() with multiple positional arguments

`max` works exactly the same way.