# ASSIGNEMENT 1

Q1.Given List = [1,[2,3],[4,[5,6]]],extract the number 6 using indexing only.

In [2]:
# ans.
List = [1,[2,3],[4,[5,6]]]
print(List[2][1][1])

6

Q2.list1 = [10, 20, 30]- Convert this list into a string: "10-20-30" using only string/list methods.

In [3]:
# ans.
list1 = [10, 20, 30]

for i in range(len(list1)):
    list1[i] = str(list1[i])

print("-".join(list1))

10-20-30

Q3.list2 = [5,10,15,20]-remove the second element and return the resulting list in reverse order.

In [4]:
# ans.
list2 = [5,10,15,20]
list2.pop(2)
list2.reverse()
print(list2)

[20, 10, 5]

Q4.list3 = [3, 1, 4, 1, 5, 9] Sort the list in descending order without modifying the original.

In [5]:
#ans.
list3 = [3, 1, 4, 1, 5, 9]
list = sorted(list3, reverse=True)
list[::-1]

[1, 1, 3, 4, 5, 9]

Q5.Given t = (1, 2, [3, 4]), modify the list inside the tuple to [7, 8]. (Explain why this works despite tuples being immutable.)

In [6]:
#ans.
t = (1, 2, [3, 4])
t[2].pop()
t[2].pop()
t[2].append(7)
t[2].append(8)
print(t)

(1, 2, [7, 8])

Q6.Convert the tuple t = (1, 2, 3, 4, 5) into a dictionary where key = index, value = item.

In [7]:
#ans.
t = (1, 2, 3, 4, 5)
d = {}

for i in range(len(t)):
    d[i] = t[i]

print(d)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

Q7.Use unpacking to extract the first, second, and the rest from: t = (10, 20, 30, 40)

In [8]:
#ans.
t = (10, 20, 30, 40)
first, second, *rest = t
print("first:", first)
print("second:", second)
print("rest:", rest)

first: 10
second: 20
rest: [30, 40]

Q8.Given nested tup = (1, (2, (3, (4,)))), extract 4 using multiple levels of indexing.

In [9]:
#ans.
tup = (1, (2, (3, (4,))))
print(tup[1][1][1][0])

4

Q9.From tup = ((1, 2), (3, 4), (5, 6)), flatten it into a single tuple: (1, 2, 3, 4, 5, 6).

In [10]:
#ans.
tup = ((1, 2), (3, 4), (5, 6))
res = tuple()

for element in tup:
    res += element

print(res)

(1, 2, 3, 4, 5, 6)

Q10.Given s = "abracadabra", remove all occurrences of the character 'a' without using loops.

In [11]:
#ans.
s = "abracadabra"
s = s.replace("a", "")
print(s)

brcdbr

Q11.Reverse the words in the string "The quick brown fox" using only string methods.

In [12]:
#ans.
s = "The quick brown fox"
s = s.split()
s[::-1]

['fox', 'brown', 'quick', 'The']

Q12.Convert "Python Is FUN" into "python is fun" using a single line of chained string methods.

In [13]:
#ans.
s = "Python is FUN"
s = s.lower()
print(s)

python is fun

Q13.Count how many vowels are in "Intelligence" using only count() method (no loop).

In [14]:
#ans.
s = "Intelligence"
r = s.lower()
c = r.count("a")
c += r.count("e")
c += r.count("i")
c += r.count("o")
c += r.count("u")
print(c)

5

Q14.Given s = "level", check if it's a palindrome without using reversed() or loops.

In [15]:
#ans.
s = "level"

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

level is a palindrome

Q15.Given d = {'a': 1, 'b': 2, 'c': 3}, swap keys and values using only dictionary methods.

In [16]:
#ans.
d = {"a": 1, "b": 2, "c": 3}
r = {}

for k, v in d.items():
    r[v] = k

d = r
print(r)

{1: 'a', 2: 'b', 3: 'c'}

Q16.Merge these two dicts into one: d1 = {'x': 1, 'y': 2}, d2 = {'y': 3, 'z': 4}- ensuring overlapping keys take value from d2.

In [17]:
#ans.
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

Q17.From d = {'x': [1, 2], 'y': [3, 4]}, change all list values to their sum.

In [18]:
#ans.
d={'x':[1,2],'y':[3,4]} 
d['x']=1+2 
d['y']=3+4 
print(d)

{'x': 3, 'y': 7}

Q18.From d = {'x': 10, 'y': 20, 'z': 30}, remove the key with the highest value.

In [19]:
#ans.
d={'x':10,'y':20,'z':30} 
max='x' 
for i in d: 
    if d[max]<d[i]: 
        max=i 
d.pop(max) 
print(d)

{'x': 10, 'y': 20}

Q19.Given list = ['a=1', 'b=2', 'c=3'], convert it into a dictionary.

In [20]:
#ans.
Given_list = ['a=1', 'b=2', 'c=3']
result = {}

for item in Given_list:
    key, value = item.split('=')
    result[key] = int(value)

print(result)

{'a': 1, 'b': 2, 'c': 3}

Q20.convert the dictionary {'a':[1,2],'b':[3,4]}into a list of tuples like :[('a',1),('a',2),('b',3),('b',4)].

In [21]:
#ans.
data = {'a': [1, 2], 'b': [3, 4]}
result = []

for key in data:
    for value in data[key]:
        result.append((key, value))

print(result)

[('a', 1), ('a', 2), ('b', 3), ('b', 4)]