In [1]:
import pandas as pd

In [2]:
data1 = pd.DataFrame({"keys": ["A", "B", "C", "D", "E", "F", "G"],
                      "values1": [1, 2, 3, 4, 5, 6, 7]})
data1

  keys  values1
0    A        1
1    B        2
2    C        3
3    D        4
4    E        5
5    F        6
6    G        7

In [3]:
data2 = pd.DataFrame({"keys": ["C", "D", "E", "F", "G", "H"],
                      "values2": [8, 9, 10, 11, 12, 13]})
data2

  keys  values2
0    C        8
1    D        9
2    E       10
3    F       11
4    G       12
5    H       13

In [4]:
pd.merge(data1, data2, "inner", "keys")

  keys  values1  values2
0    C        3        8
1    D        4        9
2    E        5       10
3    F        6       11
4    G        7       12

In [5]:
pd.merge(data1, data2, "left", "keys")

  keys  values1  values2
0    A        1      NaN
1    B        2      NaN
2    C        3      8.0
3    D        4      9.0
4    E        5     10.0
5    F        6     11.0
6    G        7     12.0

In [6]:
pd.merge(data1, data2, "right", "keys")

  keys  values1  values2
0    C      3.0        8
1    D      4.0        9
2    E      5.0       10
3    F      6.0       11
4    G      7.0       12
5    H      NaN       13

In [7]:
merge_left = pd.merge(data1, data2, "left", "keys", indicator=True)
merge_anti_join = merge_left[merge_left["_merge"] == "left_only"]
merge_anti_join.drop("_merge", axis=1)

  keys  values1  values2
0    A        1      NaN
1    B        2      NaN

In [8]:
merge_right = pd.merge(data1, data2, "right", "keys", indicator=True)
merge_anti_join = merge_right[merge_right["_merge"] == "right_only"]
merge_anti_join.drop("_merge", axis=1)

  keys  values1  values2
5    H      NaN       13