# Apriori

## Importing the libraries

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [9]:
df = pd.read_csv("Market_Basket_Optimisation.csv", header=None)
transactions = [list(row) for row in df.values.astype(str)]

## Training the Apriori model on the dataset

In [10]:
from apyori import apriori

# min_support = (3 * 7) / 7501
rules = apriori(transactions, min_support=0.0028, min_confidence=0.2, min_lift=3, min_length=2, max_length=2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [11]:
result = list(rules)

### Putting the results well organised into a Pandas DataFrame

In [12]:
result_in_data_frame = pd.DataFrame(({
    "Left Hand Side": tuple(record[2][0][0])[0],
    "Right Hand Side": tuple(record[2][0][1])[0],
    "Support": record[1],
    "Confidence": record[2][0][2],
    "Lift": record[2][0][3]
} for record in result))

### Displaying the results non sorted

In [13]:
result_in_data_frame

         Left Hand Side Right Hand Side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         fromage blanc           honey  0.003333    0.245098  5.164271
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
6           light cream       olive oil  0.003200    0.205128  3.114710
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
8                 pasta          shrimp  0.005066    0.322034  4.506672

### Displaying the results sorted by descending lifts

In [14]:
result_in_data_frame.sort_values("Lift", ascending=False)

         Left Hand Side Right Hand Side   Support  Confidence      Lift
3         fromage blanc           honey  0.003333    0.245098  5.164271
0           light cream         chicken  0.004533    0.290598  4.843951
2                 pasta        escalope  0.005866    0.372881  4.700812
8                 pasta          shrimp  0.005066    0.322034  4.506672
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
6           light cream       olive oil  0.003200    0.205128  3.114710