Question 1

In [1]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

print("Sum:", n1 + n2)
print("Difference:", n1 - n2)
print("Product:", n1 * n2)
print("Quoient:", n1 // n2)

Enter the first number: 10
Enter the second number: 15
Sum: 25
Difference: -5
Product: 150
Quoient: 0

Question 2

In [2]:
n1 = int(input("Enter the divident: "))
n2 = int(input("Enter the divisor: "))
print("Remainder:", n1 % n2)

Enter the divident: 10
Enter the divisor: 3
Remainder: 1

Question 3

In [3]:
n = int(input("Enter a number: "))
print("Square:", n ** 2)
print("Cube:", n ** 3)

Enter a number: 5
Square: 25
Cube:  125

Question 4

In [4]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n3 = int(input("Enter the third number: "))
print("Average:", (n1 + n2 + n3) / 3)

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
Average: 20.0

Question 5

In [5]:
seconds = int(input("Enter the total seconds:: "))
print("Minutes:", seconds // 60)
print("Seconds:", seconds % 60)

Enter the total seconds:: 90
Minutes: 1
Seconds: 30

Question 6

In [6]:
PI = 3.14159
radius = float(input("Enter the radius of the circle: "))
print("Area of circle:", PI * radius ** 2)

Enter the radius of the circle: 7
Area of circle is 153.93791

Question 7

In [7]:
p = float(input("Enter the Principal Amount:"))
r = float(input("Enter the Rate of Interest:"))
t = float(input("Enter the Time Period:"))
print("Simple Interest:", p * r * t / 100)

Enter the Principal Amount:1000
Enter the Rate of Interest:12
Enter the Time Period:2
Simple Interest: 240.0

Question 8

In [8]:
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
print("Power of the Number:", base ** exponent)

Enter the base: 3
Enter the exponent: 2
Power of the Number: 9

Question 9

In [9]:
n = int(input("Enter a number: "))
print("Last digit:", n % 10)

Enter a number: 512
Last digit: 2

Question 10

In [10]:
subject1 = float(input("Enter the marks in subject 1: "))
subject2 = float(input("Enter the marks in subject 2: "))
subject3 = float(input("Enter the marks in subject 3: "))
subject4 = float(input("Enter the marks in subject 4: "))
subject5 = float(input("Enter the marks in subject 5: "))
total = subject1 + subject2 + subject3 + subject4 + subject5
print("Total:", total)
print("Average:", total / 5)

Enter the marks in subject 1: 90
Enter the marks in subject 2: 92
Enter the marks in subject 3: 94
Enter the marks in subject 4: 96
Enter the marks in subject 5: 98
Total: 470.0
Average: 94.0

Question 11

In [11]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

n1 += n2
print("first += second    first =", n1)
n2 *= n1
print("second *= first    second =", n2)

Enter the first number: 2
Enter the second number: 5
first += second    first = 7
second *= first    second = 35

Question 12

In [12]:
n = int(input("Enter a number: "))

n += 10
print("Number after adding 10:", n)
n *= 2
print("Number after multiplied by 2:", n)

Enter a number: 5
Number after adding 10: 15
Number after multiplied by 2: 30

Question 13

In [13]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n1 //= n2
print("Reduced number after division:", n1)

Enter the first number: 5
Enter the second number: 2
Reduced number after division:  2

Question 14

In [ ]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n1, n2 = n2, n1
print("After swapping: first =", n1, "second =", n2)

Question 15

In [15]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n1 %= n2
print("Reduced number after modulus:", n1)

Enter the first number: 5
Enter the second number: 2
Reduced number after modulus:  1

Question 16

In [16]:
a = float(input("Enter the coefficient of x^2: "))
b = float(input("Enter the coefficient of x: "))
c = float(input("Enter the constant coefficient: "))

determinant = (b ** 2 - 4 * a * c) * 0.5
print("First Root:", (-b + determinant) / (2 * a))
print("Second Root:", (-b - determinant) / (2 * a))

Enter the coefficient of x^2: 1
Enter the coefficient of x: 4
Enter the constant coefficient: 4
First Root: -2.0
Second Root: -2.0

Question 17

In [17]:
basic_salary = float(input("Enter your Basic Salary: "))
DA = basic_salary * 0.5
HRA = basic_salary * 0.2
print("Gross Salary:", basic_salary + DA + HRA)

Enter your Basic Salary: 10000
Gross Salary: 17000.0

Question 18

In [31]:
farenhite = float(input("Enter the temperature in Farenhite: "))
print("Equivalent Celcius Temperature: ", 5 / 9 * (farenhite - 32))

celcius = float(input("Enter the temperature in Celcius: "))
print("Equivalent Farenhite Temperature: ", 9 / 5 * celcius + 32)

Enter the temperature in Farenhite: 212
Equivalent Celcius Temperature:  100.0
Enter the temperature in Celcius: 100
Equivalent Farenhite Temperature:  212.0

Question 19

In [22]:
n = int(input("Enter a number: "))
print("Sum of", n, "natural numbers:", n * (n + 1) // 2)

Enter a number: 15
Sum of 15  natural numbers: 120

Question 20

In [30]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

print("Logical NOT:", not n1)
print("Logical AND:", n1 and n2)
print("Logical OR:", n1 or n2)
print("Logical XOR:", (n1 and not n2) or (not n1 and n2))
print("Logical XNOR:", (n1 and n2) or (not n1 and not n2))
print()
print("Bitwise NOT: ", ~n1)
print("Bitwise AND:", n1 & n2)
print("Bitwise OR:", n1 | n2)
print("Bitwise XOR:", n1 ^ n2)
print("Bitwise XNOR:", ~(n1 ^ n2))
print("Bitwise Left Shift:", n1 << n2)
print("Bitwise Right Shift:", n1 >> n2)

Enter the first number: 5
Enter the second number: 7
Logical NOT: False
Logical AND: 7
Logical OR: 5
Logical XOR: False
Logical XNOR: 7

Bitwise NOT:  -6
Bitwise AND: 5
Bitwise OR: 7
Bitwise XOR: 2
Bitwise XNOR: -3
Bitwise Left Shift: 640
Bitwise Right Shift: 0