## Assignment 1

1. Given list = [1, [2, 3], [4, [5, 6]]], extract the number 6 using indexing only.

In [1]:
my_list = [1, [2, 3], [4, [5, 6]]]
my_list[2][1][1]

6

2. list1 = [10, 20, 30] - Convert this list into a string: "10-20-30" using only string/list methods.

In [2]:
list1 = [10, 20, 30]

for i in range(len(list1)):
    list1[i] = str(list1[i])

print("-".join(list1))

10-20-30

3. list2 = [5, 10, 15, 20] - Remove the second element and return the resulting list in reverse order.

In [3]:
list2 = [5, 10, 15, 20]
list2.pop(1)
list2[::-1]

[20, 15, 5]

4. list3 = [3, 1, 4, 1, 5, 9] - Sort the list in descending order without modifying the original

In [4]:
list3 = [3, 1, 4, 1, 5, 9]
l = sorted(list3, reverse=True)
l[::-1]

[1, 1, 3, 4, 5, 9]

5. Given t = (1, 2, [3, 4]), modify the list inside the tuple to [7, 8]. (Explain why this works despite tuples being immutable.)

In [5]:
t = (1, 2, [3, 4])
t[2].append(5)
t

(1, 2, [3, 4, 5])

Even though a tuple is immutable, here we are appending an element to the list inside the tuple, as list is mutable(i.e. it allows changes in member values, without create a new object or changing the current memory address), so for tuple it looks like there was no change in any memory address of its own elements, that's why there's no error and tuple permits it.
In short, tuple allows changes in it member until the member's memory location is not changed in any means

6. Convert the tuple t = (1, 2, 3, 4, 5) into a dictionary where key = index, value = item.

In [6]:
t = (1, 2, 3, 4, 5)
d = {}

for i in range(len(t)):
    d[i] = t[i]

d

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

7. Use unpacking to extract the first second and the rest from: t = (10, 20, 30, 40)

In [7]:
t = (10, 20, 30, 40)
first, second, *rest = t
print("first:", first)
print("second:", second)
print("rest:", rest)

first: 10
second: 20
rest: [30, 40]

8. Given nested tup = (1, (2, (3, (4,)))), extract 4 using multiple levels of indexing.

In [8]:
tup = (1, (2, (3, (4,))))
tup[1][1][1][0]

4

9. From tup = ((1, 2), (3, 4), (5, 6)), flatten it into a single tuple: (1, 2, 3, 4, 5, 6).

In [9]:
tup = ((1, 2), (3, 4), (5, 6))
res = tuple()

for element in tup:
    res += element

res

(1, 2, 3, 4, 5, 6)

10. Given s = "abracadabra", remove all occurrences of the character 'a' without using loops.

In [10]:
s = "abracadabra"
s = s.replace("a", "")
s

'brcdbr'

11. Reverse the words in the string "The quick brown fox" using only string methods.

In [11]:
s = "The quick brown fox"
s = s.split()
s[::-1]

['fox', 'brown', 'quick', 'The']

12. Convert "Python is FUN" into "python is fun" using a single line of chained string methods.

In [12]:
s = "Python is FUN"
s = s.lower()
s

'python is fun'

13. Count how many vowel are in "Intelligence" using only count() method (no loop).

In [13]:
s = "Intelligence"
r = s.lower()
cnt = r.count("a")
cnt += r.count("e")
cnt += r.count("i")
cnt += r.count("o")
cnt += r.count("u")
cnt

5

14. Given s = "level", check if it's a palindrome without using reversed() or loops.

In [14]:
s = "level"

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

level is a palindrome

15. Given d = {"a": 1, "b": 2, "c: 3}, swap keys and values using only dictionary methods.

In [15]:
d = {"a": 1, "b": 2, "c": 3}
r = {}

for k, v in d.items():
    r[v] = k

d = r
r

{1: 'a', 2: 'b', 3: 'c'}

16. Merge these two dicts into one: d1 = {"x": 1, "y": 2} , d2 = {"y": 3, "z": 4} - ensuring overlapping keys take value from d2.

In [16]:
d1 = {"x": 1, "y": 2}
d2 = {"y": 3, "z": 4}
d1.update(d2)
d1

{'x': 1, 'y': 3, 'z': 4}

17. From d = {"x": [1, 2], "y": [3, 4]}, change all list values to their sum.

In [17]:
d = {"x": [1, 2], "y": [3, 4]}

for k, v in d.items():
    d[k] = sum(v)

d

{'x': 3, 'y': 7}

18. From d = {"x": 10, "y": 20, "z": 30}, remove the key with the highest value.

In [18]:
d = {"x": 10, "y": 20, "z": 30}
m = max(d.values())

for k, v in d.items():
    if v == m:
        m = k
        break

del d[m]
d

{'x': 10, 'y': 20}

19. Given list = ["a=1", "b=2", "c=3"], convert it into a dictionary.

In [19]:
l = ["a=1", "b=2", "c=3"]
d = {}

for element in l:
    k, v = element.split("=")
    d[k] = int(v)

d

{'a': 1, 'b': 2, 'c': 3}

20. Convert the dictionary {"a": [1, 2], "b": [3, 4]} into a list of tuples like: [("a", 1), ("a", 2), ("b", 3), ("b", 4)] - without using loops.

In [20]:
d = {"a": [1, 2], "b": [3, 4]}
l = []

for k, v in d.items():
    for e in v:
        l.append((k, e))

l

[('a', 1), ('a', 2), ('b', 3), ('b', 4)]